# Temporary files
*~

# Ignore generated make and autotools files
aclocal.m4
ar-lib
autom4te.cache
compile
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
INSTALL
install-sh
ltmain.sh
Makefile
Makefile.in
missing

# Ignore custom build directory
build/

# Ignoring binaries
*.o
*.so
*.so.*
*.lib
*.a
*.deb
