# Temporary files
*~

# Ignore generated make and autotools files
aclocal.m4
autom4te.cache
config.cache
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
INSTALL
install-sh
Makefile
missing

# Ignore custom build directory
build/

# Ignoring binaries
*.o
*.so
*.so.*
*.lib
*.a
*.deb
