Source: hardware-monitor
Section: gnome
Priority: optional
Maintainer: Omega Weapon <OmegaPhil00@startmail.com>
Build-Depends: debhelper (>= 9), libsensors4-dev,
 libglademm-2.4-dev, libgnomecanvasmm-2.6-dev, libgtop2-dev (>= 2.0.5),
 libgtkmm-2.4-dev (>= 2.12.0), intltool, dh-autoreconf
Standards-Version: 3.9.1
Homepage: https://github.com/OmegaPhil/hardware-monitor-applet/tree/xfce4-applet

Package: hardware-monitor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Monitor applet for the XFCE4 panel
 Hardware Monitor is a monitor applet for the XFCE4 panel. It supports
 a variety of monitoring capabilities (CPU usage, network throughput
 etc.) and different kinds of viewers (curves, bars, text, flames).
